<div class="admin-content ml-40 w-100 mb-40">
  <h1 class="admin-title ft-38">Jobs</h1>
  {{> jobs-table}}
  <div class="button-border purple-gradient absolute">
    <button id="add-new-job" class="button">Add New Job</button>
  </div>
  {{> jobs-update-form}}
  {{> jobs-create-form}}
</div>
