 <table class="mb-40">
  <tr>
    <th>Job</th>
    <th>Date Started</th>
    <th>Date Ended</th>
    <th>Role</th>
    <th></th>
  </tr>
  <tr>
    <td>Modcloth</td>
    <td>2020-07-01</td>
    <td>2021-10-01</td>
    <td>Frontend Developer</td>
    <td>
      <button class="button small-button edit-button">Edit</button>
      <button class="button small-button delete-button">Delete</button>
    </td>
  </tr>
  <tr>
    <td>Uplift</td>
    <td>2020-07-01</td>
    <td>2021-10-01</td>
    <td>Software Engineer</td>
    <td>
      <button class="button small-button edit-button">Edit</button>
      <button class="button small-button delete-button">Delete</button>
    </td>
  </tr>
</table>
