{{#if user.jobs }}
  <table class="mb-40">
    <tr>
      <th>Job</th>
      <th>Date Started</th>
      <th>Date Ended</th>
      <th>Role</th>
      <th></th>
    </tr>
    {{#each user.jobs as | job | }}
      <tr>
        <td>{{job.name}}</td>
        <td>{{job.dateStarted}}</td>
        <td>{{job.dateEnded}}</td>
        <td>{{job.role}}</td>
        <td>
          <button class="button small-button edit-button edit-job-button">Edit</button>
          <button id="delete-job-button" class="button small-button delete-button delete-job-button">Delete</button>
        </td>
      </tr>
    {{/each}}
  </table>
{{/if}}
