<form id="create-job-form" class="relative d-none pb-60" action="">
  <div class="flex flex-col">
    <label class="input-label" for="name">Job Name</label>
    <div class="input-border orange-gradient mt-20">
      <input class="input-text" type="text" name="name" id="name" value="Job Name">
    </div>
    <label class="input-label mt-20" for="date_started">Date Started</label>
    <div class="input-border orange-gradient mt-20">
      <input class="input-text" type="text" name="date_started" id="date_started" value="2022-12-24">
    </div>
    <label class="input-label mt-20" for="date_ended">Date Ended</label>
    <div class="input-border orange-gradient mt-20">
      <input class="input-text" type="text" name="date_ended" id="date_ended" value="2023-01-20">
    </div>
    <label class="input-label mt-20" for="description">Job Description</label>
    <div class="text-area-border orange-gradient mt-20">
      <textarea class="text-area ft-18" name="description" id="description" cols="30" rows="10">Job awesome description goes here...</textarea>
    </div>
    <label class="input-label mt-20" for="job_role">Job Role</label>
    <div class="input-border orange-gradient mt-20">
      <input class="input-text" type="text" name="job_role" id="job_role" value="Awesome Developer">
    </div>
    <label class="input-label mt-20" for="details">Details</label>
    <div class="input-border orange-gradient mt-20">
      <input class="input-text job-detail" type="text" name="detail" value="Deliver awesome features.">
    </div>
    <div class="button-border purple-gradient mt-20 w-fit">
      <button class="button add-job-detail">add detail</button>
    </div>
  </div>
  <div class="button-border purple-gradient save-button absolute">
    <button id="create-job" class="button">Add Job</button>
  </div>
</form>
