<form id="create-job-form" class="relative d-none" action="">
  <div class="flex flex-col">
    <label class="input-label" for="name">Job Name</label>
    <input class="input-text mt-20" type="text" name="name" id="name" value="Job Name">
    <label class="input-label mt-20" for="date_started">Date Started</label>
    <input class="input-text mt-20" type="text" name="date_started" id="date_started" value="2022-12-24">
    <label class="input-label mt-20" for="date_ended">Date Ended</label>
    <input class="input-text mt-20" type="text" name="date_ended" id="date_ended" value="2023-01-20">
    <label class="input-label mt-20" for="description">Job Description</label>
    <textarea class="mt-20 ft-18" name="description" id="description" cols="30" rows="10">Job awesome description goes here...</textarea>
    <label class="input-label mt-20" for="job_role">Job Role</label>
    <input class="input-text mt-20" type="text" name="job_role" id="job_role" value="Awesome Developer">
    <label class="input-label mt-20" for="details">Details</label>
    <input class="input-text mt-20 job-detail" type="text" name="detail" value="Deliver awesome features.">
    <button class="button mt-20 add-job-detail">add detail</button>
  </div>
  <button id="create-job" class="save-button button absolute">Add Job</button>
</form>
