<div class="admin-content ml-40 w-100 mb-40">
  <h1 class="admin-title ft-38">Jobs</h1>
  {{> jobs-table}}
  <button id="add-new-job" class="button absolute">Add New Job</button>
  {{> jobs-update-form}}
  {{> jobs-create-form}}
</div>
