<div class="admin-content ml-40 w-100 mb-40">
  <h1 class="admin-title ft-38">Profile</h1>
  <form class="relative" action="">
    <div class="flex flex-col">
      <label class="input-label" for="name">Name</label>
      <input class="input-text mt-20" type="text" name="name" id="name" value="Ivan Robles">
      <label class="input-label mt-20" for="about">About</label>
      <textarea class="mt-20 ft-18" name="about" id="" cols="30" rows="10">A lot of text...</textarea>
      <label class="input-label mt-20" for="profile_pic_url">Profile Pic URL</label>
      <input class="input-text mt-20" type="text" name="profile_pic_url" id="profile_pic_url" value="https://ivanrobles.pro/pic.jpg">
      <label class="input-label mt-20" for="blog_url">Blog URL</label>
      <input class="input-text mt-20" type="text" name="blog_url" id="blog_url" value="https://ivanrobles.pro/">
      <label class="input-label mt-20" for="github_url">Github URL</label>
      <input class="input-text mt-20" type="text" name="github_url" id="github_url" value="https://github.com/sharmaz">
      <label class="input-label mt-20" for="linkedin_url">LinkedIn URL</label>
      <input class="input-text mt-20" type="text" name="linkedin_url" id="linkedin_url" value="https://linkedin.com">
      <label class="input-label mt-20" for="twitter_url">Twitter URL</label>
      <input class="input-text mt-20" type="text" name="twitter_url" id="twitter_url" value="https://twitter.com">
    </div>
    <button class="save-button button absolute">Save</button>
  </form>
</div>
