<form class="relative d-none" action="" id="create-profile-form">
  <div class="flex flex-col">
    <label class="input-label" for="name">Name</label>
    <div class="input-border orange-gradient mt-20">
      <input class="input-text" type="text" name="name" id="name" value="Your name">
    </div>
    <label class="input-label mt-20" for="about">About</label>
    <div class="text-area-border orange-gradient mt-20">
      <textarea class="text-area ft-18" name="about" id="" cols="30" rows="10">About you</textarea>
    </div>
    <label class="input-label mt-20" for="profile_pic_url">Profile Pic URL</label>
    <div class="input-border orange-gradient mt-20">
      <input class="input-text" type="text" name="profile_pic_url" id="profile_pic_url" value="https://your-photo.com">
    </div>
    <label class="input-label mt-20" for="resume_url">Resume URL</label>
    <div class="input-border orange-gradient mt-20">
      <input class="input-text" type="text" name="resume_url" id="resume_url" value="https://your-resume.com/resume.pdf">
    </div>
    <label class="input-label mt-20" for="blog_url">Blog URL</label>
    <div class="input-border orange-gradient mt-20">
      <input class="input-text" type="text" name="blog_url" id="blog_url" value="https://your-blog.com">
    </div>
    <label class="input-label mt-20" for="github_url">Github URL</label>
    <div class="input-border orange-gradient mt-20">
      <input class="input-text" type="text" name="github_url" id="github_url" value="https://github.com/[you]">
    </div>
    <label class="input-label mt-20" for="linkedin_url">LinkedIn URL</label>
    <div class="input-border orange-gradient mt-20">
      <input class="input-text" type="text" name="linkedin_url" id="linkedin_url" value="https://linkedin.com/[you]">
    </div>
    <label class="input-label mt-20" for="twitter_url">Twitter URL</label>
    <div class="input-border orange-gradient mt-20">
      <input class="input-text" type="text" name="twitter_url" id="twitter_url" value="https://twitter.com/[you]">
    </div>
  </div>
  <div class="button-border purple-gradient absolute top-0 right-0">
    <button id="profile-create-button" class="button">Create Profile</button>
  </div>
</form>
