<div class="admin-content ml-40 w-100 mb-40">
  <h1 class="admin-title ft-38">Projects</h1>
  {{> projects-table}}
  <button id="add-new-project" class="button absolute">Add New Project</button>
  {{> projects-update-form}}
  {{> projects-create-form}}
</div>
