{{#if user.jobs }}
  {{#each user.jobs as | job | }}
    <form class="relative edit-project-form d-none" action="">
      <div class="flex flex-col">
        <label class="input-label" for="name">Project Name</label>
        <input class="input-text mt-20" type="text" name="name" id="name" value="The Sharmaz">
        <label class="input-label mt-20" for="project_description">Job Description</label>
        <textarea class="mt-20 ft-18" name="project_description" id="project_description" cols="30" rows="10">A lot of text...</textarea>
        <label class="input-label mt-20" for="github_link">Github Link</label>
        <input class="input-text mt-20" type="text" name="github_link" id="github_link" value="https://github.com">
        <label class="input-label mt-20" for="demo_link">Demo Link</label>
        <input class="input-text mt-20" type="text" name="demo_link" id="demo_link" value="https://ivanrobles.pro">
        <label class="input-label mt-20" for="tags">Project Tags</label>
        <input class="input-text mt-20" type="text" name="tag1" id="tag1" value="">
        <input class="input-text mt-20" type="text" name="tag2" id="tag2" value="">
        <input class="input-text mt-20" type="text" name="tag3" id="tag3" value="">
        <button class="button mt-20">add tag</button>
      </div>
      <button class="save-button button absolute">Save</button>
    </form>
  {{/each}}
{{/if }}
