<div class="admin-content ml-40 w-100 mb-40">
  {{#isAdmin user.role}}
    <h1 class="admin-title ft-38">Users</h1>
    {{> users-table}}
    <button id="add-new-user" class="button absolute">Add New User</button>
    {{> users-create-form}}
    {{> users-update-form}}
  {{/isAdmin}}
</div>
