{{#if users }}
  <table class="mb-40">
    <tr>
      <th>Email</th>
      <th>Role</th>
      <th></th>
    </tr>
    {{#each users as | user | }}
      <tr>
        <td class="users-email">{{user.email}}</td>
        <td class="users-role">{{user.role}}</td>
        <td class="flex between">
          <button class="button small-button edit-button edit-user-button">Edit</button>
          <button class="button small-button delete-button delete-user-button" data-user="{{user.id}}">Delete</button>
        </td>
      </tr>
    {{/each}}
  </table>
{{/if}}
