/* Variables */
:root {
  --main-bg-color: #07071C;
  --primary: #282C34;
  --text-slate-300: #CCCCCC;
  --heliotrope: #E963FD;
  --dark-orchid: #8233C5;
  --metallic-blue: #274B74;
  --organge-peel: #FDA000;
  --vivid-cerise: #D3208B;
  --light-cobalt: #879AF2;
}

/* Globals */
body {
  background-color: var(--main-bg-color);
  color: var(--text-slate-300);
  font-family: 'Ubuntu', sans-serif;
}

/* Helpers */
.card {
  width: 100vw;
  height: 100vh;
}
.flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.justify-center {
  justify-content: center;
}
.between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.m-0 {
  margin: 0;
}
.mt-20 {
  margin-top: 20px;
}

/* Login Page */
.input-text {
  width: 50%;
  height: 40px;
  font-size: 18px;
}
.input-label {
  font-size: 24px;
  color: whitesmoke;
  width: 50%;
}
.button {
  background-color: var(--metallic-blue);
  border: 0;
  color: whitesmoke;
  cursor: pointer;
  font-size: 24px;
  height: 40px;
  width: 180px;
}
.login-form {
  border-radius: 20px;
  background-color: var(--light-cobalt);
  width: 800px;
  height: 400px;
}
.login-header {
  background-color: var(--metallic-blue);
  border-radius: 19px 19px 0 0;
  height: 60px;
  margin: 0;
  padding-left: 20px;
}
.login-form-content {
  padding-top: 40px;
}
.login-email, .login-password {
  width: 90%;
  margin: 20px;
}

/* 404 Not Found Page */
.not-found-card {
  background-color: var(--metallic-blue);
  border-radius: 20px;
  font-size: 40px;
  height: 60%;
  width: 60%;
}
