<div class="admin-content ml-40 w-100 mb-40">
  <h1 class="admin-title ft-38">Profile</h1>
  {{#if user.profile}}
    {{> profile-update-form}}
    {{else}}
    <div class="button-border purple-gradient absolute">
      <button id="create-profile-button" class="button">Create Profile</button>
    </div>
  {{/if}}
  {{> profile-create-form}}
</div>
