<div class="admin-content ml-40 w-100 mb-40">
  <h1 class="admin-title ft-38">Projects</h1>
  {{> projects-table}}
  <div class="button-border purple-gradient absolute">
    <button id="add-new-project" class="button">Add New Project</button>
  </div>
  {{> projects-update-form}}
  {{> projects-create-form}}
</div>
