{{#if users }}
  <table class="mb-40 ft-24">
    <tr>
      <th>Email</th>
      <th>Role</th>
      <th></th>
    </tr>
    {{#each users as | user | }}
      <tr>
        <td class="users-email">{{user.email}}</td>
        <td class="users-role">{{user.role}}</td>
        <td class="flex between">
          <div class="button-border orange-gradient">
            <button class="button small-button edit-user-button">Edit</button>
          </div>
          <div class="button-border red-gradient">
            <button class="button small-button delete-user-button" data-user="{{user.id}}">Delete</button>
          </div>
        </td>
      </tr>
    {{/each}}
  </table>
{{/if}}
