<div class="card flex justify-center align-center">
  <form id="login-form" class="login-form" method="post">
    <h2 class="flex align-center ft-28">Log in to your account</h2>
    <div class="login-container red-gradient">
      <div class="login-form-content flex justify-center wrap">
        <div class="login-email flex between">
          <label class="input-label" for="email">Email</label>
          <div class="input-border orange-gradient">
            <input class="input-text" type="email" name="email" id="email">
          </div>
        </div>
        <div class="login-password flex between">
          <label class="input-label" for="password">Password</label>
          <div class="input-border orange-gradient">
            <input class="input-text" type="password" name="password" id="password">
          </div>
        </div>
        <div class="purple-gradient mt-20 button-border">
          <button class="button login-button" type="submit">Log In</button>
        </div>
      </div>
    </div>
  </form>
</div>
