<div class="card flex justify-center align-center">
  <form id="login-form" class="login-form" method="post">
    <h2 class="login-header flex align-center">Log in to your account</h2>
    <div class="login-form-content flex justify-center wrap">
      <div class="login-email flex between">
        <label class="input-label" for="email">email</label>
        <input class="input-text" type="email" name="email" id="email">
      </div>
      <div class="login-password flex between">
        <label class="input-label" for="password">Password</label>
        <input class="input-text" type="password" name="password" id="password">
      </div>
      <button class="button dark-blue mt-20 login-button" type="submit">Log In</button>
    </div>
    
  </form>
</div>
