name: API CI
on:
  pull_request:
    branches: [main]

jobs:
  e2e:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ['24']

    services:
      mysql-e2e:
        image: mysql:8.0.29
        env:
          MYSQL_ROOT_PASSWORD: ${{secrets.MYSQL_E2E_PASSWORD}}
          MYSQL_DATABASE: e2e_test
        ports:
          - "3306:3306"

    steps:
      - uses: actions/checkout@v4
      - name: Setup Node 24
        uses: actions/setup-node@v4
        with:
          node-version: 24.x
      - run: npm ci
      - run: npm run test:e2e:ci
        env:
          DB_USER: root
          DB_PASSWORD: ${{secrets.MYSQL_E2E_PASSWORD}}
          DB_HOST: 127.0.0.1
          DB_NAME: e2e_test
          DB_PORT: 3306
          DOMAIN_1: ${{secrets.DOMAIN_1}}
          DOMAIN_2: ${{secrets.DOMAIN_2}}
          DOMAIN_3: ${{secrets.DOMAIN_3}}
          API_KEY: ${{secrets.API_KEY}}
          JWT_SECRET: ${{secrets.JWT_SECRET}}
