name: Deploy
on:
  pull_request:
    branches:
      - main
    types:
      - closed

jobs:
  deploy:
    if: github.event.pull_request.merged
    runs-on: ubuntu-latest
    steps:
      - name: Deploy NodeJS
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{secrets.SSH_HOST}}
          key: ${{secrets.SSH_KEY}}
          username: ${{secrets.SSH_USERNAME}}
          password: ${{secrets.SSH_PASSWORD}}

          script: |
            cd /var/www || exit

            if [[ ! -d "/var/www/sharmaz-me-backend" ]]; then
              echo "Cloning repository..."
              git clone git@github.com:Sharmaz/sharmaz-me-backend.git
            fi

            cd sharmaz-me-backend || exit

            pm2 stop sharmaz-me || true
            pm2 delete sharmaz-me || true

            git pull origin main
            npm install
            npm run client:install && npm run client:build

            cat > .env << EOF
            NODE_ENV=${{secrets.NODE_ENV}}
            PORT=${{secrets.PORT}}
            DB_USER=${{secrets.DB_USER}}
            DB_PASSWORD=${{secrets.DB_PASSWORD}}
            DB_HOST=${{secrets.DB_HOST}}
            DB_NAME=${{secrets.DB_NAME}}
            DB_PORT=${{secrets.DB_PORT}}
            API_KEY=${{secrets.API_KEY}}
            JWT_SECRET=${{secrets.JWT_SECRET}}
            DOMAIN_1=${{secrets.DOMAIN_1}}
            DOMAIN_2=${{secrets.DOMAIN_2}}
            DOMAIN_3=${{secrets.DOMAIN_3}}
            EOF

            npm run migrations:run

            pm2 start ./src/index.js --name sharmaz-me
            echo "Deployment successful"
